@import url('https://fonts.googleapis.com/css2?family=Federo&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@layer utilities {
    .font-federo {
        font-family: 'Federo', sans-serif;
    }
    .font-plex {
        font-family: 'IBM Plex mono', monospace;
    }
    .font-roboto {
        font-family: 'Roboto', monospace;
    }
}